.badge{
    background-color: tomato;
    width: 24px;
    height: 24px;
    border-radius: 12px; /*원을 만들고 싶을 땐 width의 반을 주면 됨*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}